<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:#CompilationUnitEditorContext">
         <dynamic class="ar.noxit.paralleleditor.eclipse.menu.TextEditorContextualMenu" id="menu"/>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.views">
      <view
            category="ar.noxit.paralleleditor.eclipse"
            class="ar.noxit.paralleleditor.eclipse.views.ConnectionView"
            icon="icons/sample.gif"
            id="ParallelEditor-Eclipse.connectionView"
            name="PE Connection view"
            restorable="true">
      </view>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <page name="Parallel Editor"
            class="ar.noxit.paralleleditor.eclipse.preferences.PreferencePage"
            id="ar.noxit.paralleleditor.preferences"/>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="ar.noxit.paralleleditor.eclipse.preferences.PreferenceInitializer"/>
   </extension>
</plugin>
